.btn-primary {
    color: #fff;
    background-color: #59ab6e;
    border-color: #59ab6e;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 1px;
    font-size: 17px;
}


.btn-primary:hover {
    color: #fff;
    background-color: #59ab6e;
    border-color: #59ab6e;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 1px;
    font-size: 17px;
}